# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django static collection output
staticfiles/
static_root/

# Local settings
*.sqlite3
*.db
.env
.env.*

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# Logs
*.log