{% load static %} <!--adding all the static files-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="{% static '/style.css'%}">
    <title>Task Manager - Task Details</title>
</head>
<body>
    <header>
        <h1>Task Details</h1>
    </header>
    <main>
        <section class="task-description">
            {% if task %}
                <h2>Name: {{task.title}}</h2>
                <h3>Priority: {{task.priority}}</h3>
                <h3>Due Date: {{task.due_date}}</h3>
                <form class="choices" id='status_form' action="#" method='post'>
                    {% csrf_token %}
                            <label>Status:
                                <select name="status">
                                    <option value="PENDING" {% if task.status == 'PENDING'%} selected {% endif %}>Pending</option>
                                    <option value="IN_PROGRESS" {% if  task.status == 'IN_PROGRESS'%} selected {% endif %}>In Progress</option>
                                    <option value="COMPLETED" {% if  task.status == 'COMPLETED' %} selected {% endif %}>Completed</option>    
                                </select>
                                <button type="submit">Change status</button>
                            </label>
                            {% comment %} <a class='danger'>Delete</a> {% endcomment %}
                </form> 
                <p>{{task.description}}</p>
            {% endif %}
        </section>
            

    </main>
    <footer>
        <p>&copy; 2025 Nazifa Tahsin. All rights reserved</p>
    </footer>
    
</body>
</html>