{% load static %} <!--adding all the static files-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="{% static '/style.css'%}">
    <title>Task Manager</title>
</head>
<body>
    <header>
        <nav>
            <h1>Task Manager</h1>
            <ul>
                <li><a href="{% url 'tasks' %}">Dashboard</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
        
    </header>
    <main>
         {% if messages %}
                {% for message in messages %}
                <section>
                    <h3>{{message}}</h3>
                </section>
                {% endfor %}
        {% endif %}
        <form class="task-form" method="post" action="{% url 'tasks' %}" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            <label for="title">Task Name: </label>
            <input id="title" name="title" type="text" placeholder="Add a task" minlength="1" maxlength="120" required>

            <label>Priority:
                <select name="priority">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
            </label>
            <label for="due">Due Date:</label>
            <input id="due" name="due" type="date">

            <label for="description" >Description: </label>
            <input id="description" name="description" placeholder="Add description" type="text">
            <input id="add" type="submit" value="Add">
        </form>
        <section class='task-list'>
            <div class="filter">
                {% comment %} <form class="search">
                    <label>Search:
                        <input id="search" name="search" placeholder="Search">
                    </label>
                </form> {% endcomment %}

             </div>

            <ul class="task-list">
                {% for task in tasks %}
                {% if task.status == 'PENDING'%}
                <li class="still-pending tasks">
                {% elif  task.status == 'IN_PROGRESS'%}
                <li class="progress tasks">
                {% elif task.status == 'COMPLETED' %}
                <li class="completed tasks">
                {% endif %}
                    <div>
                        <h3>{{task.title}}</h3>
                        <p>Due: {{task.due_date}}</p>
                    </div>
                    <div class="task-btn">
                        <a class='danger' href="{% url 'delete_task' task.id %}">Delete</a>
                        <a class='detail' href= "{% url 'task_detail' task.id %}">View Details</a>
                    </div>
                </li>


                {% endfor %}
                
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Nazifa Tahsin. All rights reserved</p>
    </footer>
    
</body>
</html>