* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg: #c5daff;
    --font: white;
    --front:#dfe8f8;
}
html { height: 100%; }

body {
    background: var(--bg);
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex:1;
}
nav {
        background-color: var(--front);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 100%;

}
nav ul {
    display: flex;
    gap: 1rem;

}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

nav a:hover {
    text-decoration: underline;
}


#search {
    border-radius: 5px;
    height: 25px;
}
.task-form, section{
    /* display: flex; */
    justify-content: center;
    background-color: var(--front);
    border-radius: 15px;
    width: 80%;
    flex-direction: column;
    margin: 10px auto;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}


section {
    border: 2px solid white;
}

ul {
    list-style: none;
    /* border-top: 2px solid white; */
   
    
}
.tasks {
    border: 2px solid white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--font);
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    /* align-items: */

}
.tasks h3{
    font-size: 1.4rem;
    margin-bottom: 8px;
}

.tasks p {
    font-size: 1.1rem;
}

.still-pending {
    background-color: rgb(233, 203, 219);
}

.progress {
  background-color: #a3d8eb;   
}

.completed {
    background-color: rgb(204, 231, 170);
}

.choices {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 0;
}

.task-btn {
    width: 20%;
}

.danger, .detail {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgb(228, 128, 128);
    margin: 10px auto;
    text-decoration: none;
    color: black;
}

.detail {
    background-color: #f0e87a;
}

.danger:hover {
    background-color: rgb(249, 33, 33);
}

.detail:hover {
    background-color: #f7bc3c;
}


.search {
    width: 100%;
    background-color: var(--front);
    padding: 10px;
}

.task-form input{
    margin: 10px;
}

footer {
    background-color: var(--front);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.task-description h2{
    margin-bottom: 13px;
    font-size: 1.6rem;

}

.task-description h3 {
    font-size: 1.2rem;
    margin-bottom: 6px;
}
.task-description p {
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    background-color: #e3d7f7;
    
}

.signup {
    width: 70%;
    background: #dfe8f8;
    padding: 20px;
    border-radius: 10px;
    margin: 25px auto;
    margin-bottom: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#login {
    width: 400px;
}

.signup label {
    font-size: 16px;
    display: block;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.signup input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}



#description {
    width: 25rem;
    height: 3rem;
}

input[type="submit"] {
    margin: 15px auto;
    margin-bottom: 0;
    background-color: #989feb;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    transition: 0.3s;
}
   .choices button{
    height: 1.5rem;
    background-color: #989feb;
    border: 1px solid #989feb;
    border-radius: 5px;
    cursor:pointer;

    width: 45%;
  }

  .choices button:hover {
    background-color: var(--front);
  }
  .choices select {
    width: 45%;
    height: 1.5rem;
    border-radius: 5px;
  } 

.signup p {
    margin-top: 10px;
}

#add {
    margin: 20px auto;
    /* width: 90%; */
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-color: #7b6aea; */
    border: 1px solid rgb(62, 62, 62);
}


input[type="submit"]:hover {
    background-color: rgb(85, 103, 219);
}

::placeholder {
    padding-left: 8px;
    font-style: italic;
}

::-webkit-input-placeholder {
    font-style: italic;   /*for diffrent browsers*/
}

::moz-placeholder {
    font-style: italic;   /*for firefox browsers*/
}

@media(max-width: 767px) { /*for mobile*/

    nav h1 {
        font-size: 1.3rem;
    }

    .signup {
        width: 250px;
    
        padding: 20px;
        
        margin: 20px auto;
        

    }

    #login {
        width: 250px;
    }

    .signup label {
        text-align: center;
        display: block;
        margin: 3px auto;
        margin-top: 0;
        font-size: 15px;

    }

    .signup input {
        display: block;
        width: 90%;
        padding: 10px;
        font-size: 13px;
        margin: 0 auto;
    }
    .signup p {
        text-align: center;
        font-size: 13px;
    }

    input[type="submit"] {

        width: 90%;
    }

    nav {
       padding: 5px 10px;

    }



    nav a {
        font-size: 0.8rem;
    }

    .task-form {
  
        width: 225px;
    }

    .task-form label {
        font-size: 13px;
        display: block;
    
        text-align: center;
        margin: 10px auto;
    }

    .task-form input {
        margin: 0 auto;
        display: block;
        width: 100%;
        font-size: 12px;
    }

    .task-form label[for="description"] {
        display: block;
        text-align: center;
        margin: 5px auto;
    }
    #add {
        display: block;
        margin: 5px auto;
        width: 100%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        /* background-color: #7b6aea; */
    }


    #description {
        margin: 0 auto;
        width: 98%;
        height: 2rem;
    }
    footer {
        font-size: 13px;
    }
    .tasks {
    padding: 5px 10px;
    margin: 5px;
    align-items: center;

}
    .tasks h3{
        font-size: 0.8rem;
        margin-bottom: 4px;
    }

    .tasks p {
        font-size: 0.7rem;
    }

    .danger, .detail {
    height: 25px;
    font-size: 11px;
    font-weight: 400;

    margin: 10px auto;
   
    }

    .task-btn {
        width: 38%;
    }
    section.task-list {
        padding: 15px;
        margin: 10px auto;
    }
    .task-description h2{
        margin-bottom: 7px;
        font-size: 1.2rem;

    }

    .task-description h3 {
        font-size: 1rem;
        margin-bottom: 6px;
    }
    .task-description p {
        padding: 10px;
        font-size: 0.9rem;
        
    }
    .choices{
       
        margin-bottom: 5px;
    }

    .choices select {
        display: block;
        margin-bottom: 5px;
        width: 100%;
    }

    .choices button {
        width: 100%;
    }
}