{% load static %} <!--adding all the static files-->
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel ="stylesheet" href="{% static '/style.css'%}">
    </head>

    <body>
        <header>
            <nav>
                <h1 class="sign">Login</h1>
            </nav>
        </header>
        
        <main>
            <div  id= "login" class="signup">
                {% if messages %}
                {% for message in messages %}
                <section>
                    <h3>{{message}}</h3>
                </section>
                {% endfor %}
                {% endif %}
                <form method="post" id='loginform' action="#">
                    {% csrf_token %}
                    <label for="user">Username:</label>
                    <input id="user" type="text" name="username" placeholder="Enter Your Userame" required>

                    <br>
                    <label for="pass">Password:</label>
                    <input id="pass" type="password" name ="password"
                    placeholder="Enter Your Password" minlength="8" required>

                    <br>

                    <input type="submit" value="Submit">
                </form>
                <div class="sign">
                    <p>
                        Don't have an account yet? <a href="{% url 'signup'%}">Sign in</a>
                    </p>
                </div>
            </div>
        </main>
        

    
        <footer>
            <p>&copy; 2025 Nazifa Tahsin. All rights reserved</p>
        </footer>
    </body>

</html>